<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PermacultureConnectionString"
      connectionString="Server=SQL5018.SmarterASP.net;Database=DB_9DE518_Permaculture;uid=DB_9DE518_Permaculture_admin;pwd=4theFuture;"
      providerName="System.Data.SqlClient" />
    <!-- First try:
    <add name="PermacultureConnectionString"
      connectionString="Server=SQL5018.SmarterASP.net;Database=Permaculture;uid= DB_9DE518_Permaculture_admin;pwd=4theFuture;"
      providerName="System.Data.SqlClient" />
    -->    
    <!-- Local connection string:
    <add name="PermacultureConnectionString" 
      connectionString="Data Source=SOC-1208-PC;Initial Catalog=Permaculture;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>